@media all and (max-width: 1340px) {
	.sidebar {
		display: none;
	}
	@media only screen and (min-width: 1224px) {
article img { width: 100%; }
article p { font-size: 18px; }
article h1 { font-size: 44px;}
article h1 + p { font-size: 24px;}
article h2 { font-size: 36px;}
article h3 { font-size: 32px;}
article h4 { font-size: 26px;}

}
@media all and (max-width: 1020px) {
	article img { width: 100%; }
	article p { font-size: 18px; }
	article h1 { font-size: 44px;}
	article h1 + p { font-size: 24px;}
	article h2 { font-size: 36px;}
	article h3 { font-size: 32px;}
	article h4 { font-size: 26px;}
}
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
article > * { width: calc(100% - 40px); }
article p { font-size: 18px; }
article h1 { font-size: 44px;}
article h1 + p { font-size: 24px;}
article h2 { font-size: 36px;}
article h3 { font-size: 32px;}
article h4 { font-size: 26px;}
}
@media all and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
body { min-width: 320px; }
article > * { width: calc(100% - 40px); }
article p { font-size: 18px; }
article h1 { font-size: 36px;}
article h1 + p { font-size: 20px;}
article h2 { font-size: 32px;}
article h3 { font-size: 28px;}
article h4 { font-size: 24px;}
}
